{% load staticfiles %}

{% block header %}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static 'fonts/modern-pictograms/stylesheet.css' %}">
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <script src="{% static 'scripts/jquery-1.7.2.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/jquery.dotdotdot-1.5.7-packed.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/gridPreview.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/application.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/dev_app.js' %}" type="text/javascript"></script>
  <script src="{% static 'scripts/util.js' %}" type="text/javascript"></script>
</head>
<body>
  <div id="main_conteiner">
    <div id="header">
      <div class="wrap">
        <a href="{% url 'czasWeb.views.about' %}" title="Home" id="logo_img"></a>
        <div id="logo_text">        	
          <h1>Kolekcja<br>Starych Druków <br>BIH UW</h1>   
        </div>
        <a class="logo_link " href="http://www.bihuw.pl/" target="_blank" title=""><img style="float: right" src="{% static 'images/bihuw_logo_big.jpg' %}"/></a>
      </div> 
      <hr>
      <div class="wrap">
        <ul id="menu" class="horisontal_menu block">
          <li{% if 'searchAdv' in highlight %} class="active"{% endif %}><a href="{% url 'czasWeb.views.searchAdv' %}" title="">Wyszukiwanie zaawansowane</a></li>
          <li{% if 'listMagazines' in highlight %} class="active"{% endif %}><a href="{% url 'czasWeb.views.listMagazines' 0 1 %}" title="">Lista roczników</a></li>
          <li{% if 'browse' in highlight %} class="active"{% endif %}><a href="{% url 'czasWeb.views.searchResults' %}?view=grid&type=all&order=tytul&ordDir=asc" title="">Lista wszystkich numerów</a></li>
        </ul>    
        <form method="GET" action="{% url 'czasWeb.views.searchResults' %}?type=simple" id="header_search">
          <div class="wrap">
            <div class="input_holder">
              <input type="text" name="query" class="input-small" placeholder="Szukaj">
              <input type="hidden" name="type" value="simple" />
            </div>
            <div class="clear"></div>
          </div>
          <button id="header_submit" type="submit" class="btn">Szukaj</button> 
        </form> 
      </div>
  

    </div>
{% endblock %}

{% block content %}
    test
{% endblock %}

{% block footer %}
    <div id="footer" class="box">  
      <hr>
      <div class="wrap">
        <ul id="footer_menu" class="horisontal_menu block">
          {% if title != 'Starodruki - O projekcie' %}<li><a href="{% url 'czasWeb.views.about' %}" title="">O projekcie</a></li>{% endif %}
          <li><a href="{% url 'czasWeb.views.resource' %}" title="">O zasobie</a></li>
          <li><a href="mailto:d.purchala@uw.edu.pl">Kontakt</a></li>
        </ul>

         <div class="right_footer">
        Materiały na stronie, o ile nie zaznaczono inaczej, dostępne są na licencji CC-BY-SA. Pewne prawa zastrzeżone dla Fundacji Naukowej Przyjaciół IH UW KLIO i Muzeum Historii Polski.
          <!-- &copy; 2013 Museum Historii Polski <br> -->
          Projekt strony: <a href="http://veshch.com" target="_blank" title="">Veshch</a>
        </div>
        
      </div>
      <div class="clear"></div>

    </div>

    </div>
</body>
</html>
{% endblock %}