{% extends templates.base %}
{% load staticfiles %}

{% block content %}
    <div id="content_part">
        <hr>
        <ul class="horisontal_menu block">
          <li><span>Sortuj według:</span></li>
          <li class="asc"><a href="#" title="">Daty<span class="asc">&nbsp;&#8743;</span><span class="desc">&nbsp;&#8744;</span></a></li>
        </ul> 
        

      
      
        <ul class="horisontal_menu">
          <li><span>Pokaż: </span></li>
          <li class="active"><a href="#" title="">Miniatury</a></li>
          <li><a href="#" title="">Lista</a> </li>
        </ul>
          <hr>
        <div class="wrap medium_thumbs_cont">
          <div class="vertical_border_1"></div>
          <div class="vertical_border_2"></div>            
          <div class="vertical_border_3"></div>  

          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span> 
                </div>
              </div>
            </a>
          </div>

          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et Lorem ipsum dolor sit amet.</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span> 
                </div>
              </div>
            </a>
          </div>
          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>The History of the Royal Society of London for the Improving of Natural Knowledge</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Londyn</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>
          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et Lorem ipsum dolor sit amet.</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>
          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>
          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et Lorem ipsum dolor sit amet.</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>
          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>
          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et Lorem ipsum dolor sit amet.</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>
          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>

          <div class="thumb_wrap">
            <a class="thumb_link block_link" href="#" title="">
              <div class="img_cont">
                <img class="canvas_image" src="images/blank.gif" alt="">
                <img src="images/starodruk.png" alt="">                    
              </div>
              <div class="img_label">
                <h2>Etiam At Risus Et</h2>
                <div>
                  <span class="author">Ilya Navumenka</span>
                  <span class="place">Warszawa, Polska</span>
                  <span class="date">1562</span>
                </div>
              </div>
            </a>
          </div>


        </div>
        <div class="masker">
          
        </div>
        <ul class="horisontal_menu block pagination general_grid_pagination">
          <li><a href="#" title=""><span class="icon">< </span>Poprzednia</a></li>
          <li class="active" ><a href="#" title="">1</a></li>
          <li><a href="#" title="">2</a></li>
          <li><a href="#" title="">3</a></li>
          <li><a href="#" title="">4</a></li>
          <li><a href="#" title="">5</a></li>
          <li><a href="#" title="">6</a></li>
          <li><a href="#" title="">Następna<span class="icon right"> ></span></a> </li>
        </ul>

    </div>
{% endblock %}